<!DOCTYPE html>
<html>

<head lang="zh-cn">
    <meta charset="UTF-8">
    <title>四达时代IPTV</title>
    <link rel="stylesheet" href="css/common.css"/>
    <script src="js/jquery-1.11.2.min.js"></script>

</head>

<body>


<div class="header">
    <div class="nav">
        <a class="logo" href="#">IPTV</a>
        <ul class="menuLists">
            <li><a href="#" class="current">TV</a></li>
            <li><a href="#">待开发</a></li>
            <li><a href="#">qq374680555</a></li>
        </ul>
    </div>
</div>

<div class="main">
    <div class="leftSide">

     <div id="a_video">

     </div>

    </div>

    <div class="rightSide">
        <ul class="tabChannle">
            <li class="current">央视频道</li>
            <li>省台频道</li>
            <li >其他卫视</li>
        </ul>
        <div class="channleBox">
            <div class="channleMenu">

                <ul class="channle0 channleItem">


                </ul>

                <ul class="channle1 channleItem">

                </ul>

                <ul class="channle2 channleItem">

                </ul>
            </div>
        </div>

<!--聊天盒子-->
        <div class="chatBox">
            <div class="meta">
                <span>消息盒子</span>
                <span class="messageNum"><i class="icon-group icon-messageNum"></i>[99+]</span>
                <span class="onlinePeople"><i class="icon-group icon-onlinePeople"></i>[99+]</span>
            </div>
            <span class="lamp"><i class="icon-group icon-lamp"></i></span>
            <div class="chatContent">
                <div class="chatLists">
                    <ul>

                    </ul>
                </div>
                <div class="inputBox">
                    <form>
                        <textarea placeholder="按cntrol+center发送消息" class="message"></textarea>

                    <p>
                        <label>自定义昵称：</label>
                        <input type="text" name="nickName" class="nickName" id="nickName" value="金刚狼"/>
                        <input type="button" value="提交" class="subBtn"/>
                    </p>
                    </form>
                </div>


            </div>
        </div>

    </div>

</div>
<div>
    <audio id="messageBg" src="message.wav" preload>
        Your browser does not support the audio element.
    </audio>
</div>
<div class="footer">
    <p>CopyRight&copy;2016 四达时代 All Rights Reservied</p>
</div>

<div class="mask"></div>

<script type="text/javascript" src="ckplayer/ckplayer.js" charset="utf-8"></script>

<script src="/socket.io/socket.io.js"></script>

<script src="js/common.js"></script>

</body>
</html>